<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.api.zhaojie.notificationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicNotification" >
        </activity>
        <activity android:name=".SetStyleNotification">
        </activity>
        <activity android:name=".TapNotification">
        </activity>
        <activity android:name=".ResponseTapNotificationActivity">
        </activity>
        <activity android:name=".ButtonNotification">
        </activity>
        <activity android:name=".CategoryNotification">
        </activity>
        <activity android:name=".VisibilityNotification">
        </activity>
        <activity android:name=".GroupNotification">
        </activity>

    </application>

</manifest>